[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
trepan3k = "*"
pytest = "*"
"flake8" = "*"
pytest-cov = "*"
doubles = "*"
readline = "*"
black = "*"
freezegun = "*"
flake8-black = "*"

[requires]
python_version = "3.7"

[packages]
praw = "*"
ebooklib = "*"
"bs4" = "*"
requests = "*"
dulwich = "*"
jsonpickle = "*"
svgwrite = "*"
confuse = "*"
