[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
ipdb = "*"
pytest = "*"
"flake8" = "*"
pytest-cov = "*"
doubles = "*"

[requires]
python_version = "3.6"

[packages]
praw = "*"
ebooklib = "*"
pyyaml = "*"
mistletoe = "*"
"bs4" = "*"
"html2text" = "*"
requests = "*"
